<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crud</servlet-name>
        <servlet-class>crud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginpage</servlet-name>
        <servlet-class>loginpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginvalidate</servlet-name>
        <servlet-class>loginvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcomeservlet</servlet-name>
        <servlet-class>welcomeservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStock</servlet-name>
        <servlet-class>addStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstock</servlet-name>
        <servlet-class>addstock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>stockavl.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stockavl</servlet-name>
        <servlet-class>stockavl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchitem</servlet-name>
        <servlet-class>searchitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stksrch</servlet-name>
        <servlet-class>stksrch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stocksrch</servlet-name>
        <servlet-class>stocksrch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>abc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emptycart</servlet-name>
        <servlet-class>emptycart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cheakout</servlet-name>
        <servlet-class>cheakout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refreshcart</servlet-name>
        <servlet-class>refreshcart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crud</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginpage</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginvalidate</servlet-name>
        <url-pattern>/loginvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcomeservlet</servlet-name>
        <url-pattern>/welcomeservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStock</servlet-name>
        <url-pattern>/addStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstock</servlet-name>
        <url-pattern>/addstock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stockavl</servlet-name>
        <url-pattern>/stockavl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchitem</servlet-name>
        <url-pattern>/searchitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stocksrch</servlet-name>
        <url-pattern>/stocksrch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emptycart</servlet-name>
        <url-pattern>/emptycart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cheakout</servlet-name>
        <url-pattern>/cheakout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refreshcart</servlet-name>
        <url-pattern>/refreshcart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
